*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: silver;
}
div{
   text-align: center;
}
button{
    -webkit-tap-highlight-color: transparent;
   
    border-radius: 5px ;
    padding: 7px 40px;
    box-shadow: 3px 3px 1px black;
    font-family: "B Homa";
    font-size: 66px;
    /* background-color: rgb(246, 219, 22); */
    background-color: gold;
    color: black;
    text-shadow: 3px 3px 1px white;
    cursor: pointer;
    transition: all 0.25s;
    outline: none;
    border: none;
    
    
    
}button:hover{
    /* background-color:rgb(0, 0, 172); */
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    text-shadow: 5px 5px 1px black;
    color: white;

}button:active{
    box-shadow: 0px 0px 0px black;
    background-color: silver;
}
h2{
    margin-top: 1.5rem;
    font-size: xx-large;

}

